<h1>Hello sir</h1>

<p>
  Welcome to the Apna_job.com 
  Thankyou for conecting with us
  <%= image_tag attachments['Apna_job_logo.jpg'].url %>
  <%= image_tag attachments['Terms_and_condition.pdf'].url %>

</p>
