<h1>Hello sir</h1>

<p>
  Welcome to Apna_job.com. Thank you for connecting with us.
</p>

<p>
  Please find attached the Terms and Conditions document:
  <%= link_to 'Download PDF', attachments['Terms_and_condition.pdf'].url %>
</p>